body {
    text-align:center;
    background-color: #600;
    color: #fff;
    margin: 0em;
}

div#topbar {
    width: 100%;
    color: #000;
    background-color: #fff;
    border-bottom: 0.3em solid #000;
    margin-bottom: 1em;
    overflow: hidden;
}

div#userbox {
    float: left;
    overflow: hidden;
}

div#userbox input {
    margin-left: 1em;
}

div#adminMenu {
    float: right;
}

div.menu {
    position: absolute;
    top: 1em;
    right: 1em;
}

h1 a {
	color: #fff;
	text-decoration: none;
}

p, .text {
    text-align:left;
    width: 35em;
    margin: 1em auto;
}

p.NfD {
    text-align: center;
    color: red;
}

div.Datum {
    float: right;
}

.nowrap {
    white-space: nowrap;
}

.hidden {
    visibility: hidden;
}

.inline {
    display: inline;
}

div.box, div.errorbox {
    text-align:left;
    color: #000;
    background-color: #fff;
    border: .2em solid black;
    padding: .5em;
    width: 35em;
    margin: 1em auto;
}

div.errorbox {
    border-color: #f00;
    background-color: #fee;
}

div#registered {
    border-color: #0f0;
}

div#newest {
    border-color: #f00;
}

div#search {
    border-color: #000;
    /* TODO: delete */
}

div#description {
    border-color: #00f;
}

form {
    display: inline;
}

body > form > fieldset {
    width: 40em;
    margin: 0 auto;
    background-color: #800;
}

fieldset > label {
    display: block;
    margin-top: .5em;
}

fieldset input[type="text"], fieldset input[type="password"] {
    width: 100%;
}

fieldset input[type="text"].date {
    width: 11ex;
}

fieldset input[type="submit"] {
    margin-top: 0.5em;
}

fieldset label[for="NfD"] {
    display: inline;
}

fieldset label[for="NfD"]:after {
    content: ":";
}

fieldset textarea {
    width: 100%;
}


